<div class="collageformatter-collage-image-wrapper {% if image_wrapper_class %} {{ image_wrapper_class | join(' ') }} {% endif %}"
     style="{{ image_wrapper_style }}">
  <div class="collageformatter-collage-image"
       style="{{ image_style }}">
    {{ image | raw }}
  </div>
</div>
